<p id="notice"><%= notice %></p>

<h1>List of customers</h1>

<%= customers_list(@customers) %>

<%= link_to('New Customer', new_customer_path) %>
 |
<%= link_to('Blacklist of customers', blacklist_customers_path) %>
